# build output
dist/
docs/

# dependencies
node_modules/

# environment variables
.env
.env.production

# static files and data
src/data/**/*.sqlite
src/public/files/**/*
src/public/js/irse/modules/place.js 
src/public/js/iris/modules/place.js 
