<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Static Test Page</title>
    <link rel="icon" type="image/png" href="/public/img/png/fav.png"></link>
    <link rel="stylesheet" type="text/css" media="screen" href="/public/css/styles-min.css">
	<script type="text/javascript" src="https://kit.fontawesome.com/76f12cea70.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.sheetjs.com/xlsx-0.20.3/package/dist/xlsx.full.min.js"></script> 
    <script type="module" src="/public/js/index.js"></script>
</head>
<body>
	<header></header>
	<!-- Menu component -->
	<nav class="navbar">
		<div class="nav-title">Brand Name</div>
		<div class="separator"></div>
		<ul class="menu"></ul>
		<button id="theme-toggle" class="menu-button">
			<i class="fas fa-moon hide"></i>
			<i class="fas fa-sun hide"></i>
		</button>
		<button popovertarget="user-profile" class="menu-button"><i class="fas fa-user"></i></button>
		<ul id="user-profile" popover="auto" class="popover-menu">
			<li class="option"><a href="mailto:#">email@google.com</a></li>
			<li class="option"><a href="/">Home</a></li>
			<li class="option"><hr class="slim"/></li>
			<li class="option"><a href="#">Login</a></li>
		</ul>
		<button popovertarget="langs-menu" class="menu-button mr-3 hide-sm">
			<img src="/public/img/flags/spain.png" class="inline">
			<i class="fas fa-chevron-down"></i>
		</button>
		<ul id="langs-menu" popover="auto" class="popover-menu">
			<li class="option"><a id="es" href="/web/es/index.html?nav=1"><img src="/public/img/flags/spain.png" class="inline"> ES</a></li>
			<li class="options"><a id="en" href="/web/en/index.html?nav=1"><img src="/public/img/flags/great_britain.png" class="inline"> EN</a></li>
		</ul>
		<button class="menu-toggle menu-button mr-3 show-xs"><i class="fas fa-bars"></i></button>
	</nav>
	<!-- Menu component -->

	<!-- Alerts component -->
	<div class="alerts">
		<div class="alert alert-success">
			<div class="alert-icon"><i class="fas fa-check-circle fa-3x"></i></div>
			<div class="alert-text"></div>
			<div class="alert-close"><i class="fas fa-times"></i></div>
		</div>
		<div class="alert alert-info">
			<div class="alert-icon"><i class="fas fa-info fa-3x"></i></div>
			<div class="alert-text"></div>
			<div class="alert-close"><i class="fas fa-times"></i></div>
		</div>
		<div class="alert alert-warn">
			<div class="alert-icon"><i class="fas fa-exclamation-triangle fa-2x"></i></div>
			<div class="alert-text"></div>
			<div class="alert-close"><i class="fas fa-times"></i></div>
		</div>
		<div class="alert alert-error">
			<div class="alert-icon"><i class="fas fa-exclamation fa-2x"></i></div>
			<div class="alert-text"></div>
			<div class="alert-close"><i class="fas fa-times"></i></div>
		</div>
	</div>
	<div class="loading">
		<b class="fas fa-circle-notch fa-3x fa-spin loading-content"></b>
	</div>
	<a id="back-to-top" href="#top" class="hide back-to-top">
		<i class="fas fa-arrow-up"></i>
	</a>
    <!-- Alerts component -->

    <main>
        <div id="tab-0" class="tab-content active">
            <h2>Alerts<hr class="underline"/></h2>
            <div class="notice notice-flex notice-info">
                <div class="notice-icon"><i class="fas fa-bullhorn"></i></div>
                <div class="notice-text"><b>Info:</b> <span>Area de pruebas</span></div>
            </div>
            <div class="notice notice-flex notice-note">
                <div class="notice-icon"><i class="fas fa-bell"></i></div>
                <div class="notice-text"><b>Note:</b> <span>Area de pruebas</span></div>
            </div>
            <div class="notice notice-flex notice-ok">
                <div class="notice-icon"><i class="fas fa-check-circle"></i></div>
                <div class="notice-text"><b>OK:</b> <span>Area de pruebas</span></div>
            </div>
            <div class="notice notice-flex notice-green">
                <div class="notice-icon"><i class="far fa-thumbs-up"></i></div>
                <div class="notice-text"><b>Green:</b> <span>Area de pruebas</span></div>
            </div>
            <div class="notice notice-flex notice-success">
                <div class="notice-icon"><i class="far fa-calendar-check"></i></div>
                <div class="notice-text"><b>Saccessfully:</b> <span>Area de pruebas</span></div>
            </div>
            <div class="notice notice-flex notice-warn">
                <div class="notice-icon"><i class="fas fa-exclamation-triangle"></i></div>
                <div class="notice-text">
                    <b>Warn:</b> <span>Area de pruebas</span>
                    <p><b>Extra info:</b> añkjfdsaldñlka fjasñlkadjf asñlk adñlkajf asñlkdsfdjk aslsñlkadfkjk asñsdñlkafjlk asñldkfdjk aksldjf alskfdj asñlkdsfdjk aslsñlkadfkjk asñsdñlkafjlk asñldkfdjk aksldjf alskfdj</p>
                </div>
            </div>
            <div class="notice notice-flex notice-error">
                <div class="notice-icon"><i class="fas fa-exclamation-circle"></i></div>
                <div class="notice-text"><b>Error:</b> <span>Area de pruebas</span></div>
            </div>
            <div class="notice notice-flex notice-danger">
                <div class="notice-icon"><i class="fas fa-radiation-alt"></i></div>
                <div class="notice-text"><b>Danger:</b> <span>Area de pruebas</span></div>
            </div>
            <div class="notice notice-flex notice-dark">
                <div class="notice-icon"><i class="fas fa-skull-crossbones"></i></div>
                <div class="notice-text"><b>Dark:</b> <span>Area de pruebas</span></div>
            </div>
            <div class="notice notice-flex notice-info">
                <div class="notice-text">
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. A, dolorum, veritatis tenetur ea dolor quo consequuntur ullam molestias fugit quam.</span>
                    <a href="#tab-toggle" class="link" data-toggle="fa-angle-double-down fa-angle-double-up" data-target=".info-test">
                        Más Info <i class="fas fa-angle-double-down"></i>
                    </a>
                    <div class="info-test hide"><hr/>Lorem ipsum dolor, sit amet consectetur adipisicing, elit. Corrupti rem aut, minus asperiores, sunt eligendi hic ipsum maiores itaque numquam sequi eius voluptates consequuntur debitis impedit quae dolore ad, enim?</div>
                </div>
            </div>

			<div class="navbar">
				<a href="#tab-next" class="btn btn-info">Sig.<i class="fas fa-angle-double-right btn-icon-right"></i></a>
				<a href="/login" class="btn btn-info load-main">Login<i class="fas fa-angle-double-right btn-icon-right"></i></a>
				<a href="#tab-maps" class="btn btn-info">Go maps<i class="fas fa-map-marker-alt btn-icon-right"></i></a>
				<a href="/web/es/tables.html" class="btn btn-green">Tables<i class="fas fa-table btn-icon-right"></i></a>
				<a href="#download" class="btn btn-green">Excel<i class="far fa-file-excel btn-icon-right"></i></a>
			</div>
		</div>

        <div id="tab-1" class="tab-content">
            <h2>Actions<hr class="underline"/></h2>

            <form id="form-pokemon" action="#">
            <div class="ui-blocks">
                <label class="ui-block">
                    <div class="label">Multiselect:</div>
                    <select class="ui-input ui-select">
                        <option value="1">&#x2611; Opción 1</option>
                        <option value="2">&#x2611; Opción 2</option>
                        <option value="3">&#x2611; Opción 3</option>
                        <option value="4">&#x2611; Opción 4</option>
                        <option value="5">&#x2611; Opción 5</option>
                    </select>
                </label>
                <div class="ui-block multiselect multi-options">
                    <div class="label">Multiselect:</div>
                    <button class="ui-input ui-select">
                        <i class="fas fa-chevron-down"></i>
                    </button>
                    <ul class="options"></ul>
                </div>
                <div class="ui-block-row"></div>
                <label class="ui-block-xl autocomplete">
                    <div class="label required">Pokemon finder:</div>
                    <i class="fas fa-search ui-input-icon left"></i>
                    <input type="search" id="ac-pokemon" class="ui-input ui-autocomplete" tabindex="1" placeholder="Search a pokemon" />
                    <input type="hidden" name="id"/>
                    <ul class="results"></ul>
                    <div class="ui-errtip"></div>
                </label>
            </div>
            </form>

            <div id="info-pokemon" class="hide ui-blocks" style="align-items: end;"></div>

            <div class="navbar">
                <a href="#" class="action text-green resize">Green</a>
                <a href="#" class="action text-blue resize">Blue</a>
                <a href="#" class="action text-warn resize">Warn</a>
            </div>

            <div class="navbar">
                <a href="#tab-0" class="btn btn-info"><i class="fas fa-angle-double-left"></i>Volver</a>
            </div>
        </div>

        <div id="tab-maps" class="tab-content">
            <h2>GOOGLE MAPS API<hr class="underline"/></h2>

            <div class="ui-blocks">
                <label class="ui-block-xl autocomplete">
                    <div class="label required">Origen de la ruta:</div>
                    <i class="fas fa-map-marker-alt ui-input-icon left"></i>
                    <input type="search" id="ac-origen" name="ac-origen" class="ui-input ui-autocomplete" tabindex="1" placeholder="Search for a place" />
					<input type="hidden" id="id-origen" name="id-origen" value="" />
					<ul role="list" class="results"></ul>
                    <div class="ui-errtip"></div>
                </label>
            </div>

            <div class="address-components hide">
                <h2>Address Components:</h2>
                <ul>
                    <li><b>@lblDireccion;:</b> @dir;</li>
                    <li><b>@lblLocalidad; (locality):</b> @localidad;</li>
                    <li><b>@lblCP; (postal_code):</b> @cp;</li>
                    <li><b>@lblProvincia; (administrative_area_level_2):</b> @provincia;</li>
                    <li><b>@lblCCAA; (administrative_area_level_1):</b> @ccaa;</li>
                    <li><b>@lblPais; (country):</b> @pais;</li>
                </ul>
            </div>

			<div class="navbar">
                <a href="#tab-0" class="btn btn-info"><i class="fas fa-angle-double-left btn-icon-left"></i>Volver</a>
            </div>
        </div>
		<script id="index-js" type="module" src="/public/js/web/index.js"></script>
    </main>

    <footer>
		<div class="info">Page Footer info ...</div>
		<svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
			<defs>
				<path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
			</defs>
			<g class="parallax">
				<use xlink:href="#gentle-wave" x="48" y="0" />
				<use xlink:href="#gentle-wave" x="48" y="3" />
				<use xlink:href="#gentle-wave" x="48" y="5" />
				<use xlink:href="#gentle-wave" x="48" y="7" />
			</g>
		</svg>
	</footer>
</body>
</html>
