
/* Extra small devices (portrait phones, less than 576px) */
@media screen and (max-width: 575.98px) {
	.dialog-modal {
		width: 98vw; top: 0; padding: .8rem;

		.dialog-body { padding: .4rem 0; }
		.dialog-footer { padding-top: .4rem; }
	}
}
