
/* Extra small devices (portrait phones, less than 576px) */
@media screen and (max-width: 575.98px) {
	.menu {
		position: absolute; top: 50px; left: 0;
		flex-direction: column; width: 99%; z-index: 2;
		background-color: #333;
	}
	.menu.active { animation: slideInTop .8s forwards; }
	.menu .level-1 { display: inline-block; }
	.menu .label-menu { flex-grow: 1; }
	.menu .sub-menu {
		position: relative; width: 99.4%;
		border: 1px solid #ccc; box-shadow: none;
	}
	.menu .sub-menu.level-3 { top: 0; left: 0; }
}
/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) and (max-width: 767.98px) {
}
/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
}
/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) and (max-width: 1199.98px) {
}
/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
}

@media print {
	.menu { display: none; }
}
