
/* Extra small devices (portrait phones, less than 576px) */
@media screen and (max-width: 575.98px) {
	table.table-xs {
		thead { border-bottom: 2px solid hsl(207deg 90% 54% / 80%); }
		thead th { display: none; }
		tbody tr { display: block; padding: 1rem 0; }
		td[data-cell]:not(:empty) {
			display: grid; gap: .5rem;
			grid-template-columns: 12ch auto;
			padding: .3rem .4rem;
			text-align: left;
		}
		td[data-cell]:not(:empty)::before {
			content: attr(data-cell) ":";
			font-weight: 700;
		}
		/* data-cell attr and contents are required */
		tbody td:not(.no-data,.colspan2,[data-cell]), td:empty {
			display: none; /* hide cell */
		}
	}
}
