<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>Página de Inicio</title>

	<link rel="stylesheet" href="../public/css/styles-min.css"/>
	<script type="text/javascript" src="https://kit.fontawesome.com/76f12cea70.js" crossorigin="anonymous"></script>
	<script type="module" src="../public/js/web/index.js" defer></script>
</head>
<body>
	<div class="alerts"></div>

	<form id="search-form" class="search-form">
		<div is="tab-content" class="tab-content active">
			<div class="ui-blocks">
				<div class="ui-block-btn">
					<button type="button" class="btn btn-info"><i class="fas fa-search"></i>Leer Excel</button>
					<input type="file" name="excel" is="excel-file" class="hide" data-filename=".excel-name" accept=".xls, .xlsx"/>
					<div class="ui-errtip"></div> 
				</div>
				<div class="ui-block-row text-height excel-name"></div>
			</div>

			<div class="navbar">
				<a href="#tab-prev" class="btn btn-info"><i class="fas fa-caret-left"></i>Volver</a>
				<a href="#tab-next" class="btn btn-info">Siguiente<i class="fas fa-caret-right"></i></a>
			</div>
		</div>

		<div is="tab-content">
			<div class="ui-blocks">
				<div class="ui-block-btn">
					<button type="button" class="btn btn-info"><i class="fas fa-search"></i>Fichero OCR</button>
					<input type="file" name="ocr" is="ocr-file" class="hide" data-filename=".ocr-file" accept=".pdf, image/*"/>
					<div class="ui-errtip"></div> 
				</div>
				<div class="ui-block-row text-height ocr-file"></div>
			</div>

			<div class="navbar">
				<a href="#tab-prev" class="btn btn-info"><i class="fas fa-caret-left"></i>Volver</a>
				<a href="#tab-next" class="btn btn-info">Siguiente<i class="fas fa-caret-right"></i></a>
			</div>
		</div>
	</form>

	<div is="firmas-block" class="navbar">
		<hr/>
		<h3>Firmantes:</h3>
		<div class="ui-blocks"></div>
		<p class="notice notice-error">Motivo del rechazo: (@rejectedBy;) @info;</p>
	</div>

	<hr/>
	<div class="ui-blocks">
		<span><i class="fas fa-flag text-warn icon"></i>Pendiente</span> 
		<span><i class="fas fa-flag text-green icon"></i>Aceptada</span>
		<span><i class="fas fa-flag text-error icon"></i>Rechazada</span>
	</div>
</body>
</html>
