<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title th:utext="${title}">Campus Virtual - PRESTO</title>
	<style th:replace="presto/emails/general.html :: styles"></style>
</head>
<body>
	<header th:replace="presto/emails/general.html :: header"></header>
	<div class="navbar">
		<p>
			Estimada / estimado: <span th:text="${firma.fullName}"></span>.
			<br/>Se ha producido un <b class="terr">ERROR</b> en la siguiente solicitud de <span th:text="${msgs.get(xs.keyDesc)}"></span>:
		</p>
	</div>

	<div th:replace="presto/emails/general.html :: solicitud"></div>
	<div th:replace="presto/emails/general.html :: decrementar"></div>
	<div th:replace="presto/emails/general.html :: incrementar"></div>
	<div th:replace="presto/emails/general.html :: firmas"></div>
	<footer th:replace="presto/emails/general.html :: footer"></footer>
</body>
</html>
