<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title th:utext="${title}">Campus Virtual - Presto</title>
	<style th:replace="presto/emails/general.html :: styles"></style>
</head>
<body>
	<header class="navbar"></header>
	<div class="navbar">CÓDIGO PRESTO: <b th:text="${xs.codigo}"></b></div>
	<div class="navbar">
		El presente documento unifica las comunicaciones internas sucesivas de solicitud, informes favorables, fiscalización previa y autorización de
		la modificación presupuestaria por las personas y órganos competentes, identificados a través de sistemas de claves concertadas, de
		acuerdo con las Normas de Ejecución del Presupuesto de la Universidad Politécnica de Cartagena, y sin perjuicio de la elaboración y firmas
		preceptivas de los documentos contables correspondientes que constituyen y finalizan el expediente administrativo, en el cual puede
		integrarse este documento.
	</div>
	<div class="navbar">
		<span th:text="${xs.fullName}"></span>, con NIF: <span th:text="${xs.nif}"></span>, ha registrado una SOLICITUD DE <span th:text="${xs.descCodigo}"></span>, con los siguientes datos:
	</div>
	<div class="navbar">
		EJERCICIO: <span th:text="${xs.ejercicio}"></span>
	</div>
	<div class="navbar">
		MEMORIA: <p class="box"><span th:text="${xs.memoria}"></span></p>
	</div>

	<div th:replace="presto/emails/general.html :: incrementar"></div>
	<div th:replace="presto/emails/general.html :: firmas"></div>
</body>
</html>
