
/* Buttons (!important override CV styles) */
.btn {
	display: inline-flex; align-items: center; gap: 8px; height: 24px;
    margin: 2px 4px !important; padding: .5rem 1rem;

	color: white; font-weight: 500; font-size: 0.875rem/* 14px */; line-height: 1.25rem/* 20px */;
	border-width: 1px; border-radius: 0.25rem/* 4px */; border-style: solid; box-sizing: content-box;
    outline: 2px solid transparent; outline-offset: 2px;
    text-decoration: none; cursor: pointer;
}

.btn-primary { background-color: var(--primary-color); border-color: --darker(var(--primary-color), 10); }
.btn-primary:hover { background-color: --darker(var(--primary-color), 10); border-color: --darker(var(--primary-color), 20); }

.btn-secondary { background-color: var(--secondary-color); border-color: --darker(var(--secondary-color), 10); }
.btn-secondary:hover { background-color: --darker(var(--secondary-color), 10); border-color: --darker(var(--secondary-color), 20); }

.btn-light { color: black; background-color: var(--light-color); border-color: --darker(var(--light-color), 10); }
.btn-light:hover { background-color: --darker(var(--light-color), 10); border-color: --darker(var(--light-color), 20); }

.btn-info { background-color: var(--info-color); border-color: --darker(var(--info-color), 10); }
.btn-info:hover { background-color: --darker(var(--info-color), 10); border-color: --darker(var(--info-color), 20); }

.btn-green { background-color: var(--green-color); border-color: --darker(var(--green-color), 10); }
.btn-green:hover { background-color: --darker(var(--green-color), 10); border-color: --darker(var(--green-color), 20); }

.btn-success { background-color: var(--success-color); border-color: --darker(var(--success-color), 10); }
.btn-success:hover { background-color: --darker(var(--success-color), 10); border-color: --darker(var(--success-color), 20); }

.btn-warn { color: black; background-color: var(--warn-color); border-color: --darker(var(--warn-color), 10); }
.btn-warn:hover { background-color: --darker(var(--warn-color), 10); border-color: --darker(var(--warn-color), 20); }

.btn-error { background-color: var(--error-color); border-color: --darker(var(--error-color), 10); }
.btn-error:hover { background-color: --darker(var(--error-color), 10); border-color: --darker(var(--error-color), 20); }

.btn-danger { background-color: var(--danger-color); border-color: --darker(var(--danger-color), 10); }
.btn-danger:hover { background-color: --darker(var(--danger-color), 10); border-color: --darker(var(--danger-color), 20); }

.btn-dark { background-color: var(--dark-color); border-color: --darker(var(--dark-color), 10); }
.btn-dark:hover { background-color: --darker(var(--dark-color), 10); border-color: --darker(var(--dark-color), 20); }
