
/* Buttons (!important override CV styles) */
.btn {
	--_btn-color: var(--info-color);

	display: inline-flex; align-items: center; gap: 8px; height: 24px;
	margin: 2px 4px !important; padding: .5rem 1rem;

	color: contrast-color(var(--_btn-color));
	background-color: var(--_btn-color);

	border: solid 1px --darker(var(--_btn-color));
	border-radius: 0.25rem/* 4px */; box-sizing: content-box;

	font-weight: 500; font-size: 0.875rem/* 14px */; line-height: 1.25rem/* 20px */;
	outline: 2px solid transparent; outline-offset: 2px;
	text-decoration: none; cursor: pointer;
	transition: none;  /* Override bootstrap styles in CV */
}
.btn:hover {
	color: contrast-color(var(--_btn-color)); /* white or black */
	background-color: --darker(var(--_btn-color));
	border-color: --darker(var(--_btn-color), 20);
}

.btn-primary { --_btn-color: var(--primary-color); }
.btn-secondary { --_btn-color: var(--secondary-color); }
.btn-light { --_btn-color: var(--bg-light); }
.btn-info { --_btn-color: var(--info-color); }
.btn-green { --_btn-color: var(--green-color); }
.btn-success { --_btn-color: var(--success-color); }
.btn-warn { --_btn-color: var(--warn-color); }
.btn-error { --_btn-color: var(--error-color); }
.btn-danger { --_btn-color: var(--danger-color); }
.btn-dark { --_btn-color: var(--dark-color); }
