
.dialog-modal {
	width: 70vw; top: -15vh; padding: 2rem; overflow: visible;
	border: 1px solid #999; border-radius: .6rem;
	background-color: white;

	scale: 0;
	transition: scale .4s ease, display .4s ease allow-discrete;

	&[open] {
		scale: 1;
		transition: scale .4s ease-in-out, opacity ease;
		@starting-style { scale: 0; }
	}

	.dialog-header {
		display: flex; align-items: flex-start; justify-content: space-between;
		border-bottom: 1px solid #ccc;
	}
	.dialog-header h2 { color: black; }
	.dialog-body { min-height: 20vh; padding: 1rem; }
	.dialog-footer {
		display: flex; align-items: center; justify-content: flex-end;
		padding-top: 1rem;
		border-top: 1px solid #ccc;
	}
}

/*dialog::backdrop {
	background: rgba(54, 198, 255, 0.349);
}*/

/* Extra small devices (portrait phones, less than 576px) */
@media screen and (max-width: 575.98px) {
	.dialog-modal {
		width: 98vw; top: 0; padding: .8rem;

		.dialog-body { padding: .4rem 0; }
		.dialog-footer { padding-top: .4rem; }
	}
}
