
@media print {
    @page { size: A4; margin: 2mm; }
	@page {
		@top-left { content: ''; }
		@top-center { content: ''; }
		@top-right { }

		@bottom-left {
			content: "Page " counter(page); /* css auto increment page counter */
		}
	}

	@page:first {
		/*margin-top: 8cm;*/
	}
	@page:blank {
		@top-left { background: none; content: '' }
		@top-center { content: '' }
		@top-right { content: '' }
	}

	* { color: #000; background-color: #fff; box-shadow: none; text-shadow: none; }
	h1 { page-break-before: always; }
    h1, h2, h3, h4, h5 { page-break-after: avoid; }

	a:after { content: " ("attr(href)")"; }
	a[href^="#"]:after { display: none; }

	.print-only { display: block; }
	.no-print { display: none; }

	/* CV specific styles */
	.layout-topbar, .layout-menu-container, .layout-footer,
	.layout-wrapper.layout-mobile-active .layout-menu-container,
	.layout-wrapper.layout-mobile-active .layout-mask,
	.layout-main > .route-bar, .layout-main > form {
		display: none !important;
	}
}
