
:root {
	color-scheme: light dark;

	--text-color: light-dark(#212529, white); /* text-color 900-fff */
	--alt-color: light-dark(white, #212529); /* inverse text-color fff-900 */
	--bg-color: light-dark(white, #212529); /* background-color fff-900 */
	--bg-hover: light-dark(#0a58ca, #6ea8fe); /* background-hover 600-300 */

	--primary-color: light-dark(#0d6efd, #0a58ca); /* primary-color 500-600 */
	--info-color: light-dark(#eff6ff, #1e40af); /* bg info-color */
	--text-info: light-dark(#1e40af, #eff6ff); /* text info-color */
	--blue-color: light-dark(#6ea8fe, #3d8bfd); /* blue-color 300-400 */
	--note-color: light-dark(#0dcaf0, #0aa2c0); /* note-color cyan 500-600 */

	--light-color: light-dark(#f7f7f7, #343a40); /* light-color 200-800 */
	--bg-light: light-dark(--darker(#f7f7f7, 5), --lighter(#343a40, 5)); /* bg-light */

	--gray-color: #adb5bd; /*light-dark(#ced4da, #adb5bd); /* gray-color 400-500 */
	--secondary-color: light-dark(#6c757d, #495057); /* secondary-color 600-700 */

	--ok-color: light-dark(#479f76, #0a3622); /* ok-color 400-800 */
	--green-color: light-dark(#198754, #146c43); /* green-color 500-600 */
	--success-color: light-dark(#05a66a, #04775a); /* success-color */

	--yellow-color: light-dark(#ffcd39, #cc9a06); /* yellow-color 400-600 */
	--gold-color: light-dark(#ffc107, #997404); /* gold-color 500-700 */
	--warn-color: light-dark(#fefce8, #cc9a06); /* warn-color XXX-600 */
	--text-warn : light-dark(#854d0e, #ffda6a); /* text warn-color */

	--error-color: light-dark(#dc3545, #b02a37); /* error-color 500-600 */
	/*--text-error: light-dark(#991b1b, #dc3545); /* text error-color */
	--red-color: light-dark(#e35d6a, #dc3545); /* red-color 400-500 */
	--danger-color: light-dark(#842029, #58151c); /* danger-color 700-800 */

	--purple-color: light-dark(#eea1eb, #cb22d7); /* purple-color */
	--dark-color: light-dark(#1f2937, #374151); /* dark-color */

	/*  light dark gradients  */
	/*--light-grad: linear-gradient(135deg, var(--bg-color) 20%, var(--bg-hover));
	--dark-grad: linear-gradient(45deg, var(--bg-color) 30%, var(--bg-hover));*/
}

.light { color-scheme: light; } /* forces light color-scheme */
.dark { color-scheme: dark; } /* forces dark color-scheme */

body {
	display: flex; flex-direction: column;
	width: 100%; min-height: 100vh; margin: 0;

	font-family: system-ui, sans-serif;
	color: var(--text-color);
	background-color: var(--bg-color);
}

main {
	margin: 0 auto; padding: min(1rem, 1%);
	width: clamp(420px, 90%, 1200px);
}

footer { position: relative; margin-top: auto; }
footer > .info {
	margin: 0 auto; padding: min(1rem, 1%);
	width: clamp(420px, 90%, 1200px); min-height: 145px;
}

h1 { font-size: clamp(.8rem, calc(3vw + .8rem), 1.5rem); }
h2 { font-size: clamp(.6rem, calc(2vw + .6rem), 1.4rem); }
h3 { font-size: clamp(.4rem, calc(2vw + .4rem), 1.3rem); }
h4 { font-size: clamp(.2rem, calc(1vw + .2rem), 1.2rem); }

hr { margin: 15px 0; border-top: 1px solid skyblue; }
img.inline { display: inline-block; width: 24px; height: auto; }

.underline { padding-bottom: 3px; border-bottom: 2px solid skyblue; }
.slim { margin: 0 4px; border-top: 1px solid skyblue; }

/* Actions */
.action { display: inline-block; margin-right: 6px; text-decoration: none; font-size: 24px; }
.text-header { font-size: x-large; font-weight: bold; text-align: center; }
.text-xl { font-size: x-large; font-weight: bold; text-transform: uppercase; }
.text-upper1:first-letter { text-transform: capitalize; }
.text-disabled { opacity: .5; color: var(--gray-color) !important; }
.text-block { display: inline-block; margin-right: .2rem; }
.text-center { text-align: center; }
.text-right { text-align: right; }

.text-gray { color: var(--gray-color); }
.action.text-gray:hover { color: --darker(var(--gray-color)); }

.text-blue { color: var(--blue-color); }
.action.text-blue:hover { color: --darker(var(--blue-color)); }

.text-green { color: var(--green-color); }
.action.text-green:hover { color: --darker(var(--green-color)); }

.text-purple { color: var(--purple-color); }
.action.text-purple:hover { color: --darker(var(--purple-color)); }

.text-warn { color: var(--gold-color); }
.action.text-warn:hover { color: --darker(var(--gold-color)); }

.text-red { color: var(--red-color); }
.action.text-red:hover { color: --darker(var(--red-color)); }
.text-error { color: var(--error-color); }
.action.text-error:hover { color: --darker(var(--error-color)); }
.text-danger { color: var(--danger-color); }
.action.text-danger:hover { color: --darker(var(--danger-color)); }
/* Actions */

/* Specific styles */
.hide, .print-only { display: none !important; } /* force display none */
.navbar { margin: 4px; padding: 0; display: inline-block; width: 100%; clear: both; }
.text-height { min-height: 1.2rem; } /* preserve minimun height when no text */

.link { color: var(--info-color); text-decoration-line: underline; }
.link:hover { text-decoration-line: none; }
/* Specific styles */

/* Icons */
.icon { margin: 0 4px; }
.icon-green { color: var(--green-color); }
.icon-success { color: var(--success-color); }
.icon-warn { color: var(--gold-color); }
.icon-red { color: var(--red-color); }
.icon-error { color: var(--error-color); }
/* Icons */
