
:root {
	color-scheme: light dark;

	--text-color: #212529; /* gray-900 */ --alt-color:  white;   /* inverse text-color */
	--bg-color:   white;   /* gray-900 */ --bg-hover:   #0a58ca; /* blue-600 */ --bg-input: #f8f9fa; /* gray-100 */
	--link-color: #0d6efd; /* blue-400 */ --link-hover: #0a58ca; /* blue-600 */

	--primary-color: #0a58ca; /* blue-600 */
	--info-color: #eff6ff; /* blue-100 */    --text-info: #084298; /* blue-700 */
	--note-color: #0aa2c0; /* cyan-600 */

	--light-color: #f7f7f7; /* light-color 200-800 */ --bg-light: --darker(var(--light-color), 5); /* bg-light */
	--gray-color: #adb5bd; /* gray-500 */             --secondary-color: #6c757d; /* gray-600 */

	--ok-color: #479f76;  /* green-400 */ --green-color: #198754; /* green-500 */ --success-color: #146c43; /* green-600 */ --text-green: white;
	--red-color: #e35d6a; /* red-400 */   --error-color: #dc3545; /* red-500 */   --danger-color: #842029;  /* red-700 */   --text-error: white;

	--yellow-color: yellow; /* yellow-color */ --gold-color: #ffc107; /* yellow-500 */
	--warn-color: #ffcd39;  /* yellow-400 */   --light-warn: #ffe69c; /* yellow-200 */ --text-warn : #946f01; /* yello-700 */

	--purple-color: #8c68cd; /* purple-400 */
	--dark-color: #1f2937; /* dark-color */

	/*  light dark gradients  */
	/*--light-grad: linear-gradient(135deg, var(--bg-color) 20%, var(--bg-hover));
	--dark-grad: linear-gradient(45deg, var(--bg-color) 30%, var(--bg-hover));*/
}

.light { color-scheme: light; } /* forces light color-scheme */
.dark { color-scheme: dark; } /* forces dark color-scheme */

body {
	display: flex; flex-direction: column;
	width: 100%; min-height: 100vh; margin: 0;

	font-family: system-ui, sans-serif;
	color: var(--text-color);
	background-color: var(--bg-color);
}

main {
	margin: 0 auto; padding: min(1rem, 1%);
	width: clamp(420px, 90%, 1200px);
}

footer { position: relative; margin-top: auto; }
footer > .info {
	margin: 0 auto; padding: min(1rem, 1%);
	width: clamp(420px, 90%, 1200px); min-height: 145px;
}

h1 { font-size: clamp(.8rem, calc(3vw + .8rem), 1.5rem); }
h2 { font-size: clamp(.6rem, calc(2vw + .6rem), 1.4rem); }
h3 { font-size: clamp(.4rem, calc(2vw + .4rem), 1.3rem); }
h4 { font-size: clamp(.2rem, calc(1vw + .2rem), 1.2rem); }

hr { margin: 15px 0; border-top: 1px solid skyblue; }
img.inline { display: inline-block; width: 24px; height: auto; }

.underline { padding-bottom: 3px; border-bottom: 2px solid skyblue; }
.slim { margin: 0 4px; border-top: 1px solid skyblue; }

/* Actions */
.action { display: inline-block; margin-right: 6px; text-decoration: none; font-size: 24px; }
.text-header { font-size: x-large; font-weight: bold; text-align: center; }
.text-xl { font-size: x-large; font-weight: bold; text-transform: uppercase; }
.text-upper1:first-letter { text-transform: capitalize; }
.text-disabled { opacity: .5; color: var(--gray-color) !important; }
.text-block { display: inline-block; margin-right: .2rem; }
.text-center { text-align: center; }
.text-right { text-align: right; }

.text-gray { color: var(--gray-color); }
.action.text-gray:hover { color: --darker(var(--gray-color)); }

.text-blue { color: var(--blue-color); }
.action.text-blue:hover { color: --darker(var(--blue-color)); }

.text-green { color: var(--green-color); }
.action.text-green:hover { color: --darker(var(--green-color)); }

.text-purple { color: var(--purple-color); }
.action.text-purple:hover { color: --darker(var(--purple-color)); }

.text-warn { color: var(--gold-color); }
.action.text-warn:hover { color: --darker(var(--gold-color)); }

.text-red { color: var(--red-color); }
.action.text-red:hover { color: --darker(var(--red-color)); }
.text-error { color: var(--error-color); }
.action.text-error:hover { color: --darker(var(--error-color)); }
.text-danger { color: var(--danger-color); }
.action.text-danger:hover { color: --darker(var(--danger-color)); }
/* Actions */

/* Specific styles */
.hide, .print-only { display: none !important; } /* force display none */
.navbar { margin: 4px; padding: 0; display: inline-block; width: 100%; clear: both; }
.text-height { min-height: 1.2rem; } /* preserve minimun height when no text */

a { color: var(--link-color); text-decoration-line: underline; }
a:hover { color: var(--link-hover); text-decoration-line: none; }
/* Specific styles */

/* Icons */
.icon { margin: 0 4px; }
.icon-green { color: var(--green-color); }
.icon-success { color: var(--success-color); }
.icon-warn { color: var(--gold-color); }
.icon-red { color: var(--red-color); }
.icon-error { color: var(--error-color); }
/* Icons */
