
/* anchoring to the buttons */
[popovertarget="user-profile"] { anchor-name: --user-profile; }
#user-profile { position-anchor: --user-profile; }

[popovertarget="langs-menu"] { anchor-name: --langs-menu; }
#langs-menu { position-anchor: --langs-menu; }

.popover-menu {
	inset: auto;
	position: absolute;
	top: anchor(bottom);
	right: anchor(right);
	/*position-area: bottom;*/
	/*position-try-order: most-height;*/
	/* popover-br = anchor(bottom right) */
	position-try-fallbacks: --popover-tr /*flip-block*/;
	margin-block: 1ch;

	text-wrap: nowrap;
	box-shadow: 0 0 2px 1px #ccc;
	border: 1px solid #ccc;
	border-radius: 8px;
	background-color: #333;
	list-style: none;

	img { display: inline-block; width: 24px; height: auto; }
	a {
		display: flex; gap: 4px; align-items: center;
		padding: 4px 8px;
		color: #ccc; text-decoration: none;
	}
	a:hover {
		color: #333 !important; background-color: gainsboro;
	}
}

@position-try --popover-tr {
	inset: auto;
	margin-block: 1ch;
	/* popover-tr = anchor(top right) */
	top: anchor(top);
	left: anchor(right);
}
