
table {
	margin: 10px auto; width: 100%; border-collapse: collapse;
	border-radius: .3rem; overflow: hidden; backdrop-filter: blur(7px);
}
caption {
	font-size: 1.5rem; font-weight: 700; text-transform: uppercase;
}

thead {
	background-color: var(--primary-color);
	border-bottom: 2px solid --darker(var(--primary-color), 20);
}
th { padding: .5rem .6rem; }
th.slim { padding: 0; }

tbody td.no-data { padding: 1rem; text-align: center; }

tr.tb-data:nth-child(odd) { background-color: --darker(var(--bg-color)); } /* impar */
tr.tb-data:nth-child(even) { background-color: --darker(var(--bg-color), 20); } /* par */
tr.tb-data:hover { background-color: --darker(var(--bg-color), 30); }
tr.active { font-weight: bold; }

tfoot {
	font-weight: bold;
	border-top: 1px dashed var(--primary-color);
	background-color: var(--light-color);
}
tfoot td:first-child { padding: .5rem; }

.tb-xeco tbody.active { animation: fadeIn .8s forwards; }
.tb-xeco tbody tr td:first-child::after {
	display: inline-block; min-height: 34px;
	content: ""; vertical-align: middle;
}
.tb-xeco .tb-data-tc { text-align: center; }
.tb-xeco td { padding: 2px; }
.tb-xeco td.currency { min-width: 74px; text-align: right; }

.sort {
	display: inline-block; margin-left: 5px; width: 40px;
	font-size: x-large; text-decoration: none;
}
.sort-none:after { content: "\25B4\25BE"; }
.sort-desc:after { content: "\25BE"; }
.sort-asc:after { content: "\25B4"; }
