
table {
	margin: 10px auto; width: 100%; border-collapse: collapse;
	box-shadow: .1rem .1rem .4rem #0005; border-radius: .3rem;
	overflow: hidden; backdrop-filter: blur(7px);
}
caption {
	font-size: 1.5rem; font-weight: 700; text-transform: uppercase;
}

thead {
	background-color: hsl(207deg 90% 54% / 80%); color: white;
	border-bottom: 2px solid hsl(220, 90%, 54%);
}
th { padding: .5rem .6rem; }
th.slim { padding: 0; }

tbody td.no-data { padding: 1rem; text-align: center; }

/* tr.tb-data:nth-child(odd) {  } */
tr.tb-data:nth-child(even) { background-color: rgb(229 231 235)/* gray-200 */; }
tr.tb-data:hover { background-color: rgb(209 213 219 / .9)/* gray-300 */ }
/* tr:last-of-type { border-bottom: 2px solid #009879; } */
tr.active { font-weight: bold; }

tfoot { font-weight: bold; border-top: 1px dashed black; background-color: rgb(226 226 226 / 40%); }
tfoot td { padding: .5rem .6rem; }

.tb-xeco { box-shadow: none; }
.tb-xeco tbody.active { animation: fadeIn .8s forwards; }
.tb-xeco .tb-data-tc { text-align: center; }
.tb-xeco tfoot { font-weight: bold; border-top: 1px dashed #1976d2; }

.sort {
	display: inline-block; margin-left: 5px; width: 40px;
	font-size: x-large; text-decoration: none;
}
.sort-none:after { content: "\25B4\25BE"; }
.sort-desc:after { content: "\25BE"; }
.sort-asc:after { content: "\25B4"; }

/* Extra small devices (portrait phones, less than 576px) */
@media screen and (max-width: 575.98px) {
	table.table-xs {
		thead th { display: none; }
		tbody tr { display: block; padding: 1rem 0; }
		td[data-cell]:not(:empty) {
			display: grid; gap: .5rem;
			grid-template-columns: 12ch auto;
			padding: .3rem .4rem;
			text-align: left;
		}
		td[data-cell]:not(:empty)::before {
			content: attr(data-cell) ":";
			font-weight: 700;
		}
		/* data-cell attr and contents are required */
		tbody td:not(.no-data,.colspan2,[data-cell]), td:empty {
			display: none; /* hide cell */
		}
	}
}
