
/* Tabs classes */
.tab-content { display: none; width: 100%; /*min-height: 70vh; max-height: 90vh;*/ padding: 2px; }
.tab-content.active { display: block; animation: fadeIn .8s forwards; }
/* Tabs classes */

/* Accordion */
details { border-radius: 0.4rem; margin-bottom: 16px; }
details:last-child{ margin-bottom: 0; }
summary {
	display: flex; justify-content: space-between; padding: .8rem 1rem;
	background: rgba(4,57,94,.8); color: white;
	font-weight: bold; font-size: large; cursor: pointer;
	border-radius: .4rem; box-shadow: 0 -1px 1px 1px;
}
summary:hover { background: rgba(4,57,94,1); }
summary::after { content: "\276F"; text-align: center; transition: all 0.3s; }
summary::marker { content: ""; }

details[open] > summary { border-radius: 8px 8px 0 0; }
details[open] > summary::after{ transform: rotate(90deg); }
details:last-child { margin: 4px; }
/* Accordion */

/* Cards */
.cards { display: flex; gap: 1rem; flex-wrap: wrap; }
.card-xeco {
	flex-basis: fit-content; padding: 15px; margin: 10px 0;
	border: 1px solid #999; border-left: 6px solid #1976D2; 
	box-shadow: .1rem .1rem .3rem #ccc; border-radius: .3rem;
	background: #f8f9fa;
}
.card-xeco h2, .card-xeco h3 {
	display: flex; align-items: center; gap: 4px; flex-wrap: wrap;
	margin: .4em .2em; padding-bottom: 4px;
	color: #1976D2; border-bottom: 1px solid #1976D2;
}
.card-xeco h2 > span, .card-xeco h3 > span {
	min-width: fit-content;
}

.card-filter {
  padding: 8px;
  background-color: #F4F5F5;
  border-bottom: 1px solid #527da7;
  border-top: 1px solid #527da7;
}
/* Cards */
