
/* Tabs classes */
.tab-content { display: none; width: 100%; /*min-height: 70vh; max-height: 90vh;*/ padding: 2px; }
.tab-content.active { display: block; animation: fadeIn .8s forwards; }
/* Tabs classes */

/* Accordion */
details {
	margin-bottom: 12px; border-radius: 8px;
	border: solid 1px --darker(var(--primary-color), 20);
}
details[open] > summary { border-radius: 8px 8px 0 0; }
details[open] > summary::after{ transform: rotate(90deg); }
details > div {  padding: 0 12px; transition: all 0.3s; } /* contents for each accordion */

summary {
	display: flex; justify-content: space-between; padding: .8rem 1rem;
	font-weight: bold; font-size: large; cursor: pointer;
	border-radius: 8px; box-shadow: 0 -1px 1px 1px;
	color: white; background-color: var(--primary-color);
}
summary:hover { background-color: --darker(var(--primary-color)); }
summary::after { content: "\276F"; text-align: center; transition: all 0.3s; }
summary::marker { content: ""; }
/* Accordion */

/* Cards */
.cards { display: flex; gap: 1rem; flex-wrap: wrap; }
.card-xeco {
	--border-color: --darker(var(--light-color));

	flex-basis: fit-content; padding: 15px; margin: 10px 6px;
	border: 1px solid var(--border-color); border-left: 6px solid var(--primary-color);
	box-shadow: .1rem .1rem .2rem var(--border-color); border-radius: .3rem;
	background-color: var(--light-color);
}
.card-xeco h2, .card-xeco h3 {
	display: flex; align-items: center; gap: 4px; flex-wrap: wrap;
	margin-top: .2rem; padding-bottom: 4px;
	color: var(--primary-color);
	border-bottom: 1px solid var(--primary-color);
}
.card-xeco h2 > span, .card-xeco h3 > span {
	min-width: fit-content;
}

.card-filter {
  padding: 8px;
  background-color: var(--light-color);
  border-bottom: 1px solid var(--gray-color);
  border-top: 1px solid var(--gray-color);
}
/* Cards */
