
html.dark {
	.parallax > use:nth-child(1) {
		fill: rgba(255, 255, 255, .7);
	}
	.parallax > use:nth-child(2) {
		fill: rgba(255, 255, 255, .5);
	}
	.parallax > use:nth-child(3) {
		fill: rgba(255, 255, 255, .3);
	}
	.parallax > use:nth-child(4) {
		fill: white;
	}
}
