
@media (prefers-color-scheme: dark) {
	.btn-primary { border-color: --lighter(var(--primary-color)); }
	.btn-primary:hover { background-color: --lighter(var(--primary-color)); border-color: --lighter(var(--primary-color), 20); }

	.btn-secondary { border-color: --lighter(var(--secondary-color)); }
	.btn-secondary:hover { background-color: --lighter(var(--secondary-color)); border-color: --lighter(var(--secondary-color), 20); }

	.btn-light { border-color: --lighter(var(--light-color)); }
	.btn-light:hover { background-color: --lighter(var(--light-color)); border-color: --lighter(var(--light-color), 20); }

	.btn-info { border-color: --lighter(var(--info-color)); }
	.btn-info:hover {
		background-color: --lighter(var(--info-color), 5);
		border-color: --lighter(var(--info-color), 20);
	}

	.btn-green { border-color: --lighter(var(--green-color)); }
	.btn-green:hover { background-color: --lighter(var(--green-color)); border-color: --lighter(var(--green-color), 20); }

	.btn-success { border-color: --lighter(var(--success-color)); }
	.btn-success:hover { background-color: --lighter(var(--success-color)); border-color: --lighter(var(--success-color), 20); }

	.btn-warn { border-color: --lighter(var(--gold-color)); }
	.btn-warn:hover { background-color: --lighter(var(--gold-color)); border-color: --lighter(var(--gold-color), 20); }

	.btn-error { border-color: --lighter(var(--error-color)); }
	.btn-error:hover { background-color: --lighter(var(--error-color)); border-color: --lighter(var(--error-color), 20); }

	.btn-danger { border-color: --lighter(var(--danger-color)); }
	.btn-danger:hover { background-color: --lighter(var(--danger-color)); border-color: --lighter(var(--danger-color), 20); }

	.btn-dark { border-color: --lighter(var(--dark-color)); }
	.btn-dark:hover { background-color: --lighter(var(--dark-color)); border-color: --lighter(var(--dark-color), 20); }
}
