
@media (prefers-color-scheme: dark) {
	.route-bar { background-color: var(--bg-color); } /* Override bootstrap styles in CV */

	hr { border-color: #ccc; }

	img {
		opacity: .75;
		transition: opacity .5s ease-in-out;
	}
	img:hover { opacity: 1; }

	/* Actions */
	.action.text-gray:hover { color: --lighter(var(--gray-color)); }
	.action.text-blue:hover { color: --lighter(var(--blue-color)); }
	.action.text-green:hover { color: --lighter(var(--green-color)); }
	.action.text-purple:hover { color: --lighter(var(--purple-color)); }
	.action.text-warn:hover { color: --lighter(var(--warn-color)); }
	.action.text-red:hover { color: --lighter(var(--red-color)); }
	.action.text-error:hover { color: --lighter(var(--error-color)); }
	/* Actions */

	.link { color: #1976d2; }
	.link:hover { color: #5fb4f7; }
}
