
@media (prefers-color-scheme: dark) {
	:root {
		--text-color: white;                  --alt-color:  #212529; /* gray-900 */
		--bg-color:   #212529; /* gray-900 */ --bg-hover:   #6ea8fe; /* blue-300 */ --bg-input: #343a40; /* gray-800 */
		--link-color: #0d6efd; /* blue-500 */ --link-hover: #3d8bfd; /* blue-400 */

		--light-color: #343a40; /* gray-800 */
		--bg-light: --lighter(var(--light-color), 5); /* bg-light */
		--gray-color: #adb5bd; /*gray-400 */
		--secondary-color: #495057; /* gray-700 */
		--dark-color: #374151; /* dark-color */
	}

	.route-bar { background-color: var(--bg-color); } /* Override bootstrap styles in CV */

	hr { border-color: #ccc; }
	img { opacity: .75; transition: opacity .5s ease-in-out; }
	img:hover { opacity: 1; }

	/* Actions */
	.action.text-gray:hover { color: --lighter(var(--gray-color)); }
	.action.text-blue:hover { color: --lighter(var(--blue-color)); }
	.action.text-green:hover { color: --lighter(var(--green-color)); }
	.action.text-purple:hover { color: --lighter(var(--purple-color)); }
	.action.text-warn:hover { color: --lighter(var(--warn-color)); }
	.action.text-red:hover { color: --lighter(var(--red-color)); }
	.action.text-error:hover { color: --lighter(var(--error-color)); }
	/* Actions */
}
