
@media (prefers-color-scheme: dark) {
	/* Alerts */
	.alert {
		border-color: --lighter(var(--_alert-color));
		box-shadow: 5px 6px 9px -5px --lighter(var(--_alert-color), 20);
	}
	/* Alerts */

	/* Notices */
	.notice {
		border-color: --lighter(var(--_notice-color));
	}
	/* Notices */

	/* Back to top icon */
	.back-to-top { background-color: --lighter(var(--bg-color), 20); }
	.back-to-top:hover { background-color: --lighter(var(--bg-color), 40); }
	/* Back to top icon */
}
