
@media (prefers-color-scheme: dark) {
	/* Alerts */
	.alert-ok { border-color: --lighter(var(--ok-color)); }
	.alert-green { border-color: --lighter(var(--green-color)); }
	.alert-success { border-color: --lighter(var(--success-color)); }
	.alert-info { border-color: --lighter(var(--info-color)); }
	.alert-note { border-color: --lighter(var(--note-color)); }
	.alert-warn { color: var(--text-color); border-color: --lighter(var(--warn-color)); }
	.alert-error { border-color: --lighter(var(--error-color)); }
	.alert-danger { border-color: --lighter(var(--danger-color)); }
	.alert-dark { border-color: --lighter(var(--dark-color)); }
	/* Alerts */

	/* Notices */
	.notice-ok { border-color: --lighter(var(--ok-color)); }
	.notice-green { border-color: --lighter(var(--green-color)); }
	.notice-success { border-color: --lighter(var(--success-color)); }
	.notice-info { border-color: --lighter(var(--info-color)); }
	.notice-note { border-color: --lighter(var(--note-color)); }
	.notice-warn { border-color: --lighter(var(--warn-color)); }
	.notice-error { border-color: --lighter(var(--error-color)); }
	.notice-danger { border-color: --lighter(var(--danger-color)); }
	.notice-dark { border-color: --lighter(var(--dark-color)); }
	/* Notices */

	/* Back to top icon */
	.back-to-top { background-color: --lighter(var(--bg-color), 20); }
	.back-to-top:hover { background-color: --lighter(var(--bg-color), 40); }
	/* Back to top icon */
}
