
@media (prefers-color-scheme: dark) {
	/* Accordion */
	summary:hover { background-color: --lighter(var(--primary-color)); }
	/* Accordion */

	/* Cards */
	.card-xeco {
		background-color: var(--dark-color);
		border-left: 6px solid var(--gray-color);
	}
	/* Cards */
		
	/* Dialog Box / Modals */
	.dialog-modal {
		border: 1px solid white;
		background-color: #888;
	}
	.dialog-header h2 {
		color: white;
	}
	/* Dialog Box / Modals */
}
