
@media (prefers-color-scheme: dark) {
	/* Accordion */
	summary:hover { background-color: --lighter(var(--primary-color)); }
	/* Accordion */

	/* Cards */
	.card-xeco {
		--border-color: --lighter(var(--light-color));

		background-color: var(--light-color);
		border: 1px solid var(--border-color); border-left: 6px solid var(--gray-color);
		box-shadow: .1rem .1rem .2rem var(--border-color);
	}
	/* Cards */
		
	/* Dialog Box / Modals */
	.dialog-modal {
		border: 1px solid white;
		background-color: #888;
	}
	.dialog-header h2 {
		color: white;
	}
	/* Dialog Box / Modals */
}
