<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title th:utext="${title}">Campus Virtual - Solicitud de Facturas y Cartas de Pago</title>
	<style th:replace="factura/emails/general.html :: styles"></style>
</head>
<body>
	<header th:replace="factura/emails/general.html :: header"></header>
	<div class="navbar">
		<p>
			Estimada / estimado: <span th:text="${firma.fullName}"></span>.
			<br/>Se ha EJECUTADO EN UXXIEC, con fecha <span th:text="${dt.toEsDate(sysdate)}"></span>, la siguiente solicitud de <span th:text="${xs.descCodigo}"></span>:
		</p>
	</div>

	<div th:replace="factura/emails/general.html :: solicitud"></div>
	<div th:replace="factura/emails/general.html :: lineas"></div>
	<div th:replace="factura/emails/general.html :: firmas"></div>
	<p>En breve se recibirá mediante correo electrónico el documento pdf de la factura / carta de pago.</p> 
	<footer th:replace="factura/emails/general.html :: footer"></footer>
</body>
</html>
