<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title th:utext="${title}">Campus Virtual - IRIS</title>
	<style th:replace="emails/general.html :: styles"></style>
</head>
<body>
	<header th:replace="emails/general.html :: header"></header>
	<div class="navbar">texto..</div>

	<div class="navbar">
		<p><b>LIQUIDACION EFECTUADA:</b></p> 
		<table>
			<thead>
				<tr>
					<th colspan="2">GASTOS DE TRANSPORTE</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Vehículo propio <span th:text="${gastos.matricula}"></span></td>
					<td class="tr"><span th:text="${nb.esBigval(rutas.totalKm, '-')}"></span> €</td>
				</tr>
				<tr>
					<td>Facturas a nombre del comisionado y tickets por gastos de transporte</td>
					<td class="tr"><span th:text="${nb.esBigval(gastos.impTransporte, '-')}"></span> €</td>
				</tr>
				<tr>
					<td>Otras indemnizaciones de transporte</td>
					<td class="tr"><span th:text="${nb.esBigval(gastos.impExtraTrans, '-')}"></span> €</td>
				</tr>
				<tr>
					<th class="tl">Subtotal transporte</th>
					<th class="tr"><span th:text="${nb.esBigval(gastos.totTransporte, '-')}"></span> €</th>
				</tr>
			</tbody>

			<thead>
				<tr>
					<th colspan="2">GASTOS DE ALOJAMIENTO</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Facturas a nombre del comisionado por gastos de alojamiento</td>
					<td class="tr"><span th:text="${nb.esBigval(gastos.impPernoctas, '-')}"></span> €</td>
				</tr>
				<tr>
					<td>Otras indemnizaciones por alojamiento</td>
					<td class="tr"><span th:text="${nb.esBigval(gastos.impExtraPernoctas, '-')}"></span> €</td>
				</tr>
				<tr>
					<th class="tl">Subtotal alojamiento</th>
					<th class="tr"><span th:text="${nb.esBigval(gastos.totPernoctas, '-')}"></span> €</th>
				</tr>
			</tbody>

			<thead>
				<tr><th colspan="2">RESUMEN DIETAS MANUTENCIÓN</th></tr>
			</thead>
			<tbody>
				<tr>
					<th class="tl">Subtotal dietas</th>
					<th class="tr"><span th:text="${nb.esBigval(gastos.totDietas, '-')}"></span> €</th>
				</tr>
			</tbody>

			<thead th:if="${gastos.isAc()}">
				<tr><th colspan="2">RESUMEN ASISTENCIAS/COLABORACIONES EXTERNAS</th></tr>
			</thead>
			<tbody th:if="${gastos.isAc()}">
				<tr>
					<th class="tl">Subtotal asistencias/colaboraciones</th>
					<th class="tr"><span th:text="${nb.esBigval(gastos.impAc, '-')}"></span> €</th>
				</tr>
			</tbody>

			<thead>
				<tr><th colspan="2"></th></tr>
			</thead>
			<tbody>
				<tr><th class="tl">TOTAL BRUTO</th><th class="tr"><span th:text="${nb.esBigval(gastos.impBruto)}"></span> €</th></tr>
				<tr><td colspan="2"><hr/></td></tr>
				<tr><th class="tl">TOTAL LÍQUIDO</th><th class="tr"><span th:text="${nb.esBigval(xs.importe)}"></span> €</th></tr>
			</tbody>

			<thead th:if="${gastos.irpf}">
				<tr><th colspan="2">IRPF</th></tr>
			</thead>
			<tbody th:if="${gastos.irpf}">
				<tr>
					<td>Total importe de dietas no justificado</td>
					<td class="tr"><span th:text="${nb.esBigval(gastos.impNoJustifi)}"></span> €</th></td>
				</tr>
				<tr th:if="${gastos.isAc()}">
					<td>Total asistencias/colaboraciones</td>
					<td class="tr"><span th:text="${nb.esBigval(gastos.impAc, '-')}"></span> €</td>
				</tr>
				<tr>
					<th class="tl">Total sujeto a IRPF (<span th:text="${nb.esBigval(gastos.porcentajeIrpf, '-')}"></span> %)</th>
					<th class="tr"><span th:text="${nb.esBigval(gastos.totSujetoIrpf, '-')}"></span> €</th>
				</tr>
				<tr>
					<th class="tl">Total retención IRPF</th>
					<th class="tr">-<span th:text="${nb.esBigval(gastos.impRetencionIrpf)}"></span> €</th>
				</tr>
			</tbody>

			<thead th:if="${!xs.isA_L()}">
				<tr><th colspan="2">Anticipo</th></tr>
			</thead>
			<tbody th:if="${!xs.isA_L()}">
				<tr><th class="tl">Importe a anticipar 80%</th><th class="tr">#impAnticipar# &euro;</th></tr>
			</tbody>
		</table>
	</div>

	<div th:replace="emails/general.html :: comunicacion"></div>
	<div th:replace="emails/general.html :: actividad"></div>
	<div th:replace="emails/general.html :: firmas"></div>
	<footer th:replace="emails/general.html :: footer"></footer>
</body>
</html>
