<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title th:utext="${title}">Campus Virtual - IRIS</title>
	<style th:replace="emails/general.html :: styles"></style>
</head>
<body>
	<header th:replace="emails/general.html :: header"></header>
	<div class="navbar">
		Estimada / estimado: <span th:text="${firma.fullName}"></span>.
		<br/>Se ha CANCELADO la siguiente <b>PROPUESTA</b> de <b th:text="${xs.tramiteDesc}"></b> por <b th:text="${xs.actividadDesc}"></b>.
		<br/><b>Motivo de la cancelación:</b> (<span th:text="${fRechazo.fullName}"></span>) <span th:text="${fRechazo.info}"></span>
	</div>

	<div th:replace="emails/general.html :: comunicacion"></div>
	<div th:replace="emails/general.html :: actividad"></div>
	<div th:replace="emails/general.html :: presupuesto"></div>
	<div th:replace="emails/general.html :: firmas"></div>
	<footer th:replace="emails/general.html :: footer"></footer>
</body>
</html>
