<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title th:utext="${title}">Campus Virtual - IRIS</title>
	<style th:replace="emails/general.html :: styles"></style>
</head>
<body>
	<header><img src="../webapp/resources/images/upct/azul-horizontal.png" alt="logo" width="200px"/></header>
	<div class="navbar txl"><b th:text="${xs.tramiteDesc}"></b> por <b th:text="${xs.actividadDesc}"></b></div>
	<div class="navbar"><b>CÓDIGO IRIS:</b> <span th:text="${xs.codigo}"></span></div>
	<div class="navbar">A partir de los siguientes datos comunicados por <span th:text="${xs.fullNameInteresado}"></span> y validados conforme al registro de firmas, se procede por parte de la Unidad de Asuntos Económicos, con fecha <span th:text="${dt.toEsDate(sysdate)}"></span>, a la liquidación de las correspondientes indemnizaciones.</div>

	<div th:replace="emails/general.html :: comunicacion"></div>
	<div th:replace="emails/general.html :: actividad"></div>
	<div th:replace="emails/general.html :: liquidacion"></div>
	<div th:replace="emails/general.html :: firmas"></div>
	<footer></footer>
</body>
</html>
