<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<style th:replace="pedidos/emails/general.html :: styles"></style>
	<title>Campus Virtual - SPI</title>
</head>
<body>
	<header th:replace="pedidos/emails/general.html :: header"></header>
	<div class="navbar">
		<p>
			Estimada / estimado: <span th:text="${firma.fullName}"></span>.
			<br/>Se ha producido un <b class="terr">ERROR</b> en el pedido: <span th:text="${pedido.codigo}"></span>.
		</p>
	</div>

	<div th:replace="pedidos/emails/general.html :: solicitud"></div>
	<div th:replace="pedidos/emails/general.html :: firmas"></div>
	<footer th:replace="pedidos/emails/general.html :: footer"></footer>
</body>
</html>
