<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>Campus Virtual - SPI</title>
	<style th:fragment="styles" th:inline="css">
		table { margin:auto; width: 100%; border-collapse: collapse; }
		thead { border-bottom: 1px solid #000; }
		tfoot { font-weight: bold; border-top: 1px dashed #000; }
		hr { margin: 7px 0px; }

		.w180 { width: 180px; }
		.navbar { margin: 4px 0; padding: 0; display: inline-block; width: 100%; clear: both; }
		.tr {min-width: 74px; text-align: right;}.tl{text-align:left;}.tc{ text-align:center; }.tj{ text-align:justify; }.terr{ color:tomato; }
		.upper { text-transform: uppercase; }
		.bl1 { padding:5px; border-left:1px solid #000; }
		.box { border:1px solid tomato; padding:5px; }
	</style>
</head>
<body>
    <header th:fragment="header">
		<p>
			UNIVERSIDAD POLITÉCNICA DE CARTAGENA.
			<br/>Sistema de pedidos de infraestructuras
			<br/>Vicerrector de Infraestructuras y Sostenibilidad
		</p>
	</header>

	<div th:fragment="solicitud" class="navbar">
		<p><b>DATOS DEL PEDIDO</b></p>
		<ul>
			<li><b>Nº de pedido:</b> <span th:text="${pedido.codigo}"></span></li>
			<li><b>Proveedor:</b> <a th:href="'mailto:' + ${pedido.email}" th:text="${pedido.proveedor}"></a></li>
			<li><b>Referencia del proveedor:</b> <span th:text="${#strings.defaultString(pedido.referencia, '-')}"></span></li>
			<li><b>Descripción del servicio o bien a contratar:</b> <span th:text="${pedido.descripcion}"></span></li>
			<li><b>Aplicación presupuestaria:</b> <span th:text="${apli.aplicacion}"></span></li>
			<li><b>Importe estimado sin IVA:</b> <span th:text="${nb.esBigval(pedido.importe)}"></span> €</li>
			<li><b>Importe crédito presupuestario necesario:</b> <span th:text="${nb.esBigval(pedido.impPpto)}"></span> €</li>
			<li><b>Comprador:</b> <span th:text="${pedido.solicitante}"></span></li>
			<li th:if="${error != null}"><b class="terr">Error:</b> <span th:text="${error}"></span></li>
		</ul>
	</div>

	<div th:fragment="requisitos" class="navbar">
		<p><b>REQUISITOS Y DATOS A INCLUIR EN LA FACTURA</b></p>
		<ul>
			<li><b>Datos del destinatario:</b> Universidad Politécnica de Cartagena, CIF/ VAT ESQ8050013E, domicilio: Plaza del Cronista Isidoro Valverde s/n 30202 Cartagena</li>
			<li><b>Identificación de la cuenta bancaria (IBAN)</b> donde deba realizarse el pago de la factura.</li>
			<li><b>Obligación de emisión de la factura en formato electrónico</b> y presentación en <b>FACe</b>, indicando los siguientes datos:</li>
		</ul>
	</div>

	<div th:fragment="face" class="navbar">
			<table>
			<thead>
				<tr><th>Órgano Administrativo</th><th>Código</th><th>Denominación</th><th>Rol (factura-e)</th></tr>
			</thead>
			<tbody>
				<tr><td>Oficina Contable</td><td class="tc"><b>U06400011</b></td><td>Vicerrectorado de Economía, Empresa y Emprendimiento</td><td>Fiscal</td></tr>
				<tr><td>Órgano Gestor</td><td class="tc"><b>U06400001</b></td><td>Universidad Politécnica de Cartagena</td><td>Receptor</td></tr>
				<tr><td>Unidad Tramitadora</td><td class="tc"><b>U06400066</b></td><td>Unidad Técnica</td><td>Pagador</td></tr>
			</tbody>
		</table>
	</div>

	<div th:fragment="instrucciones" class="navbar">
		<p><b class="terr">INSTRUCCIONES ESPECIALES</b></p>
		<div class="box">Código a incluir en el campo <b>FileReference</b> de la factura electrónica: <b th:text="${pedido.expediente}"></b></div>
		<p><b>*La no inclusión del código en el campo FileReference podrá conllevar el rechazo de la factura. El código debe incluirse exactamente como se indica, por lo que se recomienda copiar para insertar en la factura.</b></p>
	</div>

	<div th:fragment="firmas" class="navbar">
		<p><b>Registro de Firmas:</b></p>
		<table>
			<thead>
				<tr><th>Firmante</th><th>Firma</th><th>Estado</th><th>Fecha y Hora</th></tr>
			</thead>
			<tbody>
				<tr th:each="firma:${firmas.principales}">
					<td th:text="${firma.fullName}"></td>
					<td th:text="${firma.cargo}"></td>
					<td th:text="${msgs.get(firma.msgEstado)}"></td>
					<td th:text="${dt.toEsDateTime(firma.fecha)}" class="tc"></td>
				</tr>	
			</tbody>
			<tfoot>
				<tr><td colspan="4">Firmas: <span th:utext="${firmas.principales.size()}"></span></td></tr>
			</tfoot>
		</table>
	</div>

	<footer th:fragment="footer" class="navbar">
		<p>Este correo electrónico se ha generado automáticamente. Por favor, no responda a la dirección del remitente. En caso de duda consulte al email del <a href="mailto:vicinf@upct.es">Vicerrectorado de Infraestructuras y Sostenibilidad</a></p>
    </footer>
</body>
</html>
