<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title th:utext="${title}">Campus Virtual - SPI</title>
	<style th:replace="pedidos/emails/general.html :: styles"></style>
</head>
<body>
	<header th:replace="pedidos/emails/general.html :: header"></header>
	<div class="navbar">
		<p>
			Con fecha <b th:text="${dt.toEsDate(firmas.rechazo.fecha)}"></b> se <b>rechaza</b> el pedido con los siguientes datos</span>:
			<br/><b>MOTIVO DEL RECHAZO / ANULACIÓN:</b> <span th:text="${firmas.rechazo.info}"></span>
		</p>
	</div>

	<div th:replace="pedidos/emails/general.html :: solicitud"></div>
	<footer th:replace="pedidos/emails/general.html :: footer"></footer>
</body>
</html>
